version: "3"
services:
  # nginx:
  #   image: nginx:stable-alpine
  #   ports:
  #     - "8080:80"
  node-app:
    environment:
      - NODE_ENV=production
    command: npm run start
    ports:
      - "8080:3000"
